In [3]:
cd Downloads

[WinError 2] The system cannot find the file specified: 'Downloads'
C:\Users\Administrator\Downloads

In [6]:
import pandas as pd

In [8]:
df = pd.read_csv('top-5000-youtube-channels-data-from-socialblade/data.csv')

In [9]:
df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [11]:
df['Subscribers'].astype(int)

ValueError: invalid literal for int() with base 10: '-- '

In [12]:
df.loc[df['Subscribers'] == '-- ']

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
17,18th,A+,Vlad and Nikita,53,--,1428274554
108,109th,A,BIGFUN,373,--,941376171
115,116th,A,Bee Kids Games - Children TV,740,--,414535723
142,143rd,A,ChiChi TV Siêu Nhân,421,--,2600394871
143,144th,A,MusicTalentNow,1487,--,3252752212
152,153rd,A,Family GamesTV,282,--,1287242549
156,157th,A,KH Show,31,--,106302038
175,176th,A,LES BOYS TV2,116,--,387595623
180,181st,A,BIBO TOYS,313,--,1574657579
189,190th,A,Kids Tv Show,8,--,86516866
192,193rd,A,Happy Funny Kids Toys Pretend Play,850,--,1778372917
197,198th,A,Learn Colors Keiki,6,--,89116512
209,210th,A,Ly LY ToysReview,33,--,90941513
213,214th,A,Beat chất lượng cao,563,--,622132999
223,224th,A,Purana Hindustan,91,--,501921413
230,231st,A,Happy Lives,188,--,515722472
234,235th,A,Salih Reis'in Dünyası,237,--,2197191069
235,236th,A,News ThatMatter,365,--,77361248
238,239th,A,PlayGammer100,7,--,261227
253,254th,A,Flipkart,604,--,718345351
255,256th,A,Los Juguetes BB,114,--,82824448
267,268th,,MidnightXChannel,--,--,190256974
291,292nd,A,Sham Drama شام دراما,6494,--,885923365
322,323rd,A,Ghiền Phim Hàn,854,--,1072407139
326,327th,A,Bollywood Event Talkies,10,--,350
346,347th,A,Jhankar Station 07,205,--,78360362
357,358th,A,Purani Kahani,66,--,205282926
382,383rd,A,El Blog del Narco,4449,--,70680037
391,392nd,A,apple kids,70,--,370257049
392,393rd,A,DLS News,1579,--,514253195
...,...,...,...,...,...,...
4630,"4,631st",B+,92 News HD,30811,--,134021190
4645,"4,646th",B+,Bangla Gorom News,1896,--,151760154
4653,"4,654th",B+,Fingerwager,22,--,119546477
4657,"4,658th",B+,knowledge master,806,--,248868112
4663,"4,664th",B+,PTV Cricket,1351,--,132162672
4668,"4,669th",B+,TTV BTW,69,--,11325628
4687,"4,688th",B+,عالم الإبداع - Creative…,216,--,145773941
4690,"4,691st",B+,Tizcall,68,--,108495917
4695,"4,696th",B+,My Tam,264,--,538371669
4704,"4,705th",B+,Louie Rochester,73,--,75536179
4715,"4,716th",B+,Mickey Baby Tv,47,--,39117306
4730,"4,731st",B+,Perfect Life,263,--,156462604
4748,"4,749th",B+,Samsung South Africa,311,--,96264871
4771,"4,772nd",B+,العالمية للترفية HD,231,--,36001078
4786,"4,787th",B+,Justin Wright S.,458,--,289623382
4802,"4,803rd",B+,News Now,4234,--,240258091
4822,"4,823rd",B+,مشاهيرنا,350,--,51775617
4836,"4,837th",B+,CARS 4 KIDS,478,--,1643267574
4844,"4,845th",B+,Khatulistiwa Record,132,--,153432783
4886,"4,887th",B+,Xpose News,40476,--,204810831
4892,"4,893rd",B+,Everything For U,184,--,69313209
4893,"4,894th",B+,VB Musicas,71,--,48275804
4895,"4,896th",B+,Totoykids Explorer,165,--,363738234
4912,"4,913th",B+,اخترنا لك,775,--,95271752
4936,"4,937th",B+,李婶儿说电影,139,--,53572147
4941,"4,942nd",B+,GMTV,183,--,127080542
4948,"4,949th",B+,Keivon ToysReview,468,--,481568513
4956,"4,957th",B+,CLICKNEWS,2661,--,139940815
4961,"4,962nd",B+,ONE Championship,905,--,109836654
4990,"4,991st",B+,Ho Ngoc Ha's Official Channel,208,--,127185704

In [13]:
(df.loc[df['Subscribers'] != '-- ']).astype(int)

ValueError: invalid literal for int() with base 10: '1st'

In [16]:
import numpy as np

In [17]:
df.loc[df['Subscribers'] == '-- ', 'Subscribers'] = np.nan

In [21]:
df['Subscribers'].astype(float)

0       18752951.0
1       61196302.0
2       19238251.0
3       31180559.0
4       32852346.0
5       17149705.0
6       11373567.0
7       12149206.0
8       16082927.0
9        2841811.0
10      33492951.0
11      39409726.0
12       7662886.0
13      18824912.0
14      15899764.0
15      11569723.0
16      15830098.0
17             NaN
18      23603062.0
19      17687229.0
20      11593509.0
21      23440427.0
22      11347420.0
23       2137907.0
24        712562.0
25      14469618.0
26      16924523.0
27      15836366.0
28       2902714.0
29        459906.0
           ...
4970      885667.0
4971     2414713.0
4972      673787.0
4973      829870.0
4974     1436546.0
4975      150091.0
4976      229079.0
4977      638404.0
4978      106628.0
4979     1558006.0
4980     6532616.0
4981      158905.0
4982      647435.0
4983      219238.0
4984     2875705.0
4985      820381.0
4986     1123300.0
4987     1536819.0
4988     1349511.0
4989      660742.0
4990           NaN
4991      663114.0
4992      131766.0
4993     1586835.0
4994     1099659.0
4995     2072942.0
4996     1055091.0
4997     3265735.0
4998       32990.0
4999       21172.0
Name: Subscribers, Length: 5000, dtype: float64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      4613 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [29]:
gt = pd.read_csv('gt.csv')

In [28]:
cd data_clean

C:\Users\Administrator\Downloads\data_clean

In [30]:
gt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 12 columns):
Timestamp                     117 non-null object
Entering Grade Level          117 non-null object
District                      101 non-null float64
Birth Month                   117 non-null object
OLSAT Verbal Score            117 non-null object
OLSAT Verbal Percentile       117 non-null object
NNAT Non Verbal Raw Score     117 non-null object
NNAT Non Verbal Percentile    117 non-null int64
Overall Score                 117 non-null int64
School Preferences            75 non-null object
School Assigned               29 non-null object
Will you enroll there?        71 non-null object
dtypes: float64(1), int64(2), object(9)
memory usage: 11.0+ KB

In [32]:
gt.head()

,Timestamp,Entering Grade Level,District,Birth Month,OLSAT Verbal Score,OLSAT Verbal Percentile,NNAT Non Verbal Raw Score,NNAT Non Verbal Percentile,Overall Score,School Preferences,School Assigned,Will you enroll there?
0,4/8/2017 6:44:01,1,6.0,September,28,99,45,99,99,"NEST+m, TAG, Anderson, Q300",NEST,YES
1,4/7/2017 10:40:45,K,NaN,August,25,99,39,99,99,"Anderson, NEST+m",NaN,Maybe
2,4/7/2017 10:41:56,1,NaN,March,27,96,42,99,98,NaN,NaN,Maybe
3,4/7/2017 10:43:31,K,NaN,September,23,97,40,99,98,NaN,NaN,NaN
4,4/10/2017 10:18:34,K,22.0,April,25,98,38,99,99,Brooklyn School of Inquiry,Currently - local Brooklyn dual language,Maybe

In [33]:
gt.columns

Index(['Timestamp', 'Entering Grade Level', 'District', 'Birth Month',
       'OLSAT Verbal Score', 'OLSAT Verbal Percentile',
       'NNAT Non Verbal Raw Score', 'NNAT Non Verbal Percentile',
       'Overall Score', 'School Preferences', 'School Assigned',
       'Will you enroll there?'],
      dtype='object')

In [34]:
gt['OLSAT Verbal Score'].astype(int)

#, 'OLSAT Verbal Percentile',
       #'NNAT Non Verbal Raw Score',

ValueError: invalid literal for int() with base 10: '24/30'

In [40]:
def str_cln(str1):
    if '/' in str1:
        return str1[:str1.find('/')]
    else:
        return str1

str_cln('24/30')

'24'

In [42]:
str_cln('24242')

'24242'

In [44]:
(gt['OLSAT Verbal Score'].apply(str_cln)).astype(int)

ValueError: invalid literal for int() with base 10: 'Fill out later.'

In [ ]:
for i in col_conv:
    gt[i] = gt[i].apply(cln)

def cln(str1):
    if str1.isnumeric():
        return int(str1)
    elif str1.find('/') != -1:
        return int(str1[:str1.find('/')])
    else:
        return np.nan

In [149]:
fifa = pd.read_csv('data.csv')
fifa.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [150]:
fifa = fifa[['Nationality', 'Club', 'Age', 'Overall', 'Wage', 'Release Clause']]

In [151]:
fifa.groupby('Nationality')

In [152]:
len(fifa['Nationality'].unique())

164

In [153]:
fifa.groupby('Nationality').mean()

                            Age    Overall
Nationality
Afghanistan           22.500000  61.000000
Albania               24.025000  65.925000
Algeria               27.050000  70.633333
Andorra               28.000000  62.000000
Angola                25.866667  67.600000
Antigua & Barbuda     22.750000  62.500000
Argentina             26.205977  68.572038
Armenia               26.800000  69.000000
Australia             24.406780  62.652542
Austria               24.654362  64.916107
Azerbaijan            26.000000  63.000000
Barbados              27.666667  63.333333
Belarus               28.750000  70.250000
Belgium               24.334615  68.811538
Belize                25.000000  60.000000
Benin                 26.066667  67.466667
Bermuda               27.500000  66.500000
Bolivia               25.533333  65.666667
Bosnia Herzegovina    26.000000  68.639344
Botswana              20.000000  56.000000
Brazil                27.625151  71.251511
Bulgaria              26.843750  64.875000
Burkina Faso          25.125000  68.562500
Burundi               23.333333  62.333333
Cameroon              24.555556  67.988889
Canada                24.250000  62.937500
Cape Verde            27.421053  71.631579
Central African Rep.  25.666667  73.333333
Chad                  22.500000  70.000000
Chile                 25.074169  64.992327
...                         ...        ...
Sierra Leone          24.833333  65.333333
Slovakia              26.277778  68.407407
Slovenia              26.472727  69.527273
South Africa          26.422535  67.478873
South Sudan           25.000000  60.000000
Spain                 25.325560  69.698694
St Kitts Nevis        26.333333  62.000000
St Lucia              24.000000  64.000000
Sudan                 26.333333  62.666667
Suriname              25.250000  67.000000
Sweden                24.838791  63.622166
Switzerland           24.640909  65.477273
Syria                 26.000000  68.555556
São Tomé & Príncipe   31.000000  72.000000
Tanzania              22.000000  67.000000
Thailand              25.000000  62.400000
Togo                  28.250000  71.333333
Trinidad & Tobago     31.750000  66.750000
Tunisia               26.468750  68.250000
Turkey                24.712871  66.072607
Uganda                23.833333  62.500000
Ukraine               25.136986  70.424658
United Arab Emirates  26.000000  77.000000
United States         25.090652  65.172805
Uruguay               26.610738  70.429530
Uzbekistan            29.500000  67.500000
Venezuela             24.313433  67.268657
Wales                 24.736434  64.139535
Zambia                22.222222  65.222222
Zimbabwe              26.846154  69.769231

[164 rows x 2 columns]

In [155]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 6 columns):
Nationality       18207 non-null object
Club              17966 non-null object
Age               18207 non-null int64
Overall           18207 non-null int64
Wage              18207 non-null object
Release Clause    16643 non-null object
dtypes: int64(2), object(4)
memory usage: 853.5+ KB

In [156]:
fifa.head()

  Nationality                 Club  Age  Overall   Wage Release Clause
0   Argentina         FC Barcelona   31       94  €565K        €226.5M
1    Portugal             Juventus   33       94  €405K        €127.1M
2      Brazil  Paris Saint-Germain   26       92  €290K        €228.1M
3       Spain    Manchester United   27       91  €260K        €138.6M
4     Belgium      Manchester City   27       91  €355K        €196.4M

In [157]:
fifa['Wage'] = fifa['Wage'].apply(lambda x: x[1:-1])

In [158]:
fifa.loc[fifa['Wage'] == '', 'Wage'] = np.nan

In [159]:
fifa.loc[fifa['Wage'] == '', 'Wage']

Series([], Name: Wage, dtype: object)

In [160]:
fifa['Wage'] = fifa['Wage'].astype(float)

In [161]:
fifa['Release Clause'] = fifa['Release Clause'].apply(lambda x: x[1:-1])

TypeError: 'float' object is not subscriptable

In [162]:
fifa['Release Clause']

0        €226.5M
1        €127.1M
2        €228.1M
3        €138.6M
4        €196.4M
5        €172.1M
6        €137.4M
7          €164M
8        €104.6M
9        €144.5M
10       €127.1M
11       €156.8M
12        €90.2M
13         €111M
14       €121.3M
15       €153.5M
16       €160.7M
17       €165.8M
18       €123.3M
19       €113.7M
20       €105.6M
21         €111M
22        €62.7M
23       €119.3M
24        €44.6M
25       €166.1M
26       €137.3M
27       €126.4M
28           NaN
29       €105.4M
          ...
18177      €193K
18178       €94K
18179      €119K
18180       €78K
18181      €109K
18182      €101K
18183        NaN
18184       €78K
18185       €88K
18186      €167K
18187       €66K
18188      €143K
18189      €125K
18190      €165K
18191      €119K
18192      €119K
18193       €99K
18194      €109K
18195      €153K
18196      €113K
18197       €88K
18198      €165K
18199      €175K
18200      €143K
18201      €153K
18202      €143K
18203      €113K
18204      €165K
18205      €143K
18206      €165K
Name: Release Clause, Length: 18207, dtype: object

In [163]:
def clnr(str1):
    try:
        return str1[1:-1]
    except TypeError:
        pass

In [164]:
fifa['Release Clause'] = fifa['Release Clause'].apply(clnr)

In [165]:
fifa['Release Clause'] = fifa['Release Clause'].astype(float)

In [166]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 6 columns):
Nationality       18207 non-null object
Club              17966 non-null object
Age               18207 non-null int64
Overall           18207 non-null int64
Wage              17966 non-null float64
Release Clause    16643 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 853.5+ KB

In [167]:
aggregations = {'Age': 'mean',
                'Overall': 'mean',
                'Wage':{'Total Wage': 'sum',
                        'Avergae Wage': 'mean'},
                'Release Clause': 'mean'}
fifa.groupby(['Nationality', 'Club']).agg(aggregations)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:4658: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

                                           Age    Overall       Wage  \
                                          mean       mean Total Wage
Nationality Club
Afghanistan Notts County             21.000000  60.000000        2.0
            Philadelphia Union       23.000000  59.000000        1.0
            SV Meppen                26.000000  63.000000        1.0
            Walsall                  20.000000  62.000000        1.0
Albania     AC Ajaccio               22.000000  66.000000        2.0
            Aalborg BK               21.000000  52.000000        1.0
            Albacete BP              21.000000  67.000000       14.0
            Atalanta                 25.000000  67.000000        8.0
            Brescia                  21.000000  66.000000        1.0
            Colorado Rapids          29.000000  71.000000        7.0
            Cosenza                  26.000000  63.000000        1.0
            Eintracht Braunschweig   24.000000  63.000000        1.0
            Empoli                   25.000000  70.000000        7.0
            FC Basel 1893            27.000000  73.000000       19.0
            FC Metz                  26.000000  72.000000        6.0
            FC Sion                  31.000000  65.500000       19.0
            Grasshopper Club Zürich  24.000000  67.000000        4.0
            Göztepe SK               27.000000  70.000000       15.0
            Hellas Verona            18.000000  58.000000        1.0
            KV Oostende              24.000000  67.000000        5.0
            Lazio                    23.000000  81.000000       36.0
            Levante UD               27.000000  69.000000       12.0
            Livingston FC            20.000000  58.000000        1.0
            Malmö FF                 20.000000  58.500000        2.0
            Málaga CF                20.000000  65.000000        2.0
            Napoli                   24.000000  81.000000       58.0
            Neuchâtel Xamax          25.000000  60.000000        1.0
            Olympiacos CFP           19.000000  67.000000        1.0
            Panathinaikos FC         24.000000  71.000000        1.0
            Pescara                  26.000000  64.000000        5.0
...                                        ...        ...        ...
Wales       Rotherham United         33.000000  62.000000        4.0
            Scunthorpe United        21.000000  64.000000        9.0
            Sheffield United         22.000000  68.000000       20.0
            Sheffield Wednesday      22.500000  63.500000        9.0
            Shrewsbury               25.000000  61.000000        2.0
            Stoke City               30.500000  75.000000      105.0
            Sunderland               26.000000  69.000000        7.0
            Swansea City             20.571429  64.285714       41.0
            Swindon Town             25.000000  66.000000        5.0
            Tottenham Hotspur        25.000000  81.000000       87.0
            West Bromwich Albion     32.000000  69.000000       24.0
            Wigan Athletic           24.666667  64.333333       26.0
            Wycombe Wanderers        26.500000  61.500000        4.0
            Yeovil Town              22.000000  64.000000        2.0
Zambia      Djurgårdens IF           18.000000  56.000000        1.0
            FC Metz                  29.000000  73.000000        7.0
            FC Red Bull Salzburg     19.500000  65.500000       12.0
            KV Oostende              20.500000  65.000000        7.0
            Orlando Pirates          24.500000  67.500000        2.0
            SCR Altach               24.000000  62.000000        2.0
Zimbabwe    Bradford City            26.000000  65.000000        3.0
            Club Brugge KV           24.000000  78.000000       20.0
            Dalian YiFang FC         30.000000  72.000000       11.0
            Hobro IK                 34.000000  68.000000        5.0
            Kaizer Chiefs            27.000000  71.333333        3.0
            Le Havre AC              22.000000  64.000000        2.0
            Nottingham Forest        26.000000  71.000000       27.0
            Orlando Pirates          23.000000  67.000000        2.0
            RSC Anderlecht           28.000000  71.000000       15.0
            Sparta Praha             32.000000  70.000000        1.0

                                                 Release Clause
                                    Avergae Wage           mean
Nationality Club
Afghanistan Notts County                2.000000     683.000000
            Philadelphia Union          1.000000     374.000000
            SV Meppen                   1.000000     534.000000
            Walsall                     1.000000     878.000000
Albania     AC Ajaccio                  2.000000       2.000000
            Aalborg BK                  1.000000     116.000000
            Albacete BP                14.000000            NaN
            Atalanta                    8.000000       1.700000
            Brescia                     1.000000       1.700000
            Colorado Rapids             7.000000       3.400000
            Cosenza                     1.000000     609.000000
            Eintracht Braunschweig      1.000000     724.000000
            Empoli                      7.000000       3.600000
            FC Basel 1893              19.000000       6.200000
            FC Metz                     6.000000       5.700000
            FC Sion                     9.500000     109.600000
            Grasshopper Club Zürich     4.000000       1.300000
            Göztepe SK                 15.000000       3.800000
            Hellas Verona               1.000000     534.000000
            KV Oostende                 5.000000       1.600000
            Lazio                      36.000000      30.200000
            Levante UD                 12.000000       2.700000
            Livingston FC               1.000000            NaN
            Malmö FF                    1.000000     347.000000
            Málaga CF                   2.000000       1.500000
            Napoli                     58.000000      35.500000
            Neuchâtel Xamax             1.000000     351.000000
            Olympiacos CFP              1.000000       4.000000
            Panathinaikos FC            1.000000       6.700000
            Pescara                     2.500000     185.550000
...                                          ...            ...
Wales       Rotherham United            4.000000     278.000000
            Scunthorpe United           9.000000            NaN
            Sheffield United           10.000000       1.700000
            Sheffield Wednesday         4.500000     473.050000
            Shrewsbury                  2.000000     593.000000
            Stoke City                 52.500000      14.300000
            Sunderland                  7.000000       1.900000
            Swansea City                5.857143     110.371429
            Swindon Town                5.000000       1.500000
            Tottenham Hotspur          87.000000      35.600000
            West Bromwich Albion       12.000000     404.850000
            Wigan Athletic              8.666667     137.050000
            Wycombe Wanderers           2.000000     518.500000
            Yeovil Town                 2.000000       1.000000
Zambia      Djurgårdens IF              1.000000     356.000000
            FC Metz                     7.000000       6.600000
            FC Red Bull Salzburg        6.000000       2.300000
            KV Oostende                 3.500000       1.450000
            Orlando Pirates             1.000000       2.250000
            SCR Altach                  2.000000     610.000000
Zimbabwe    Bradford City               3.000000     958.000000
            Club Brugge KV             20.000000      18.900000
            Dalian YiFang FC           11.000000       6.500000
            Hobro IK                    5.000000     594.000000
            Kaizer Chiefs               1.000000       8.100000
            Le Havre AC                 2.000000       1.300000
            Nottingham Forest          27.000000       4.500000
            Orlando Pirates             1.000000       3.150000
            RSC Anderlecht             15.000000       3.700000
            Sparta Praha                1.000000       2.100000

[5127 rows x 5 columns]

In [173]:
fifa_dfs = {}
for group, data in fifa.groupby(['Nationality']):
    fifa_dfs[group] = data

In [176]:
ff1 =  fifa.groupby(['Nationality', 'Club']).agg(aggregations)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:4658: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [177]:
pd.read_csv

TypeError: cannot do positional indexing on <class 'pandas.core.indexes.multi.MultiIndex'> with these indexers [Afghanistan] of <class 'str'>